<h1><%= @deck.name %></h1>

<div class='container'>

<br>

<% if @deck.cards.length == 0 %>
  <p>No cards in this deck yet!</p>
<% else %>
  <form action='/<%= @deck.id %>/backward' method='post'>
    <% @deck.cards.shuffle.each do |card| %>
      <%= card.answer %>: <input type='text' name='<%= card.answer %>'><br><br>
    <% end %>
    <input type='submit' value='Submit'>
  </form>
<% end %>

</div>

<br>
<br>

<span class='glyphicon glyphicon-chevron-left'></span> <%= link_to 'Back', :back %>